body{
    background-color: #A9A9A9;
    position: relative;
}

.container1{
    height: 200%;
    position: relative;
}

h1{
    color: black;
    text-align: center;
    font-family: "Copperplate, Papyrus, fantasy";
    font-size: 400%;
}
h4{
    color: black;
    text-align: center;
    font-family: "Lucida Console", "Courier New";
}

.Aboutme{
    float: left;
    margin-left: 10%;
    background-color: white;
    width: 35%;
    height: 100%;
    padding: 2%;
    box-shadow: 50px 50px #404040;
    animation: fade-in 2s ease-in;
    position: relative;
    font-size: 100%;
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 2;}
}

.abouthead{
    font-size: 300%;
}

p{
    font-size: 120%;
}



.experience{
    float: left;
    margin-left: 10%;
    background-color: white;
    width: 35%;
    height: 100%;
    padding: 2%;
    box-shadow: 50px 50px #404040;
    animation: fade-in 2s ease-in;
    position: relative;
    font-size: 100%;
    
}

.exphead{
    text-align: center;
    font-size: 300%;
    position: relative;
}

.exphead1{
    text-align: center;
    font-size: 200%;
    position: relative;
}

.exphead2{
    text-align: center;
    font-size: 200%;
    position: relative;
}


.container2{
    height: 200%;
    margin: 5%;
    padding: 5%;
    animation: fade-in1 2s ease-in;
    padding-top: 0.5%;
    position: relative;

}
@keyframes fade-in1 {
    from{opacity: 0;}
    to{opacity: 2;}
}

.education{
    float: left;
    color: black;
    font-size: 15px;
    width: 35%;
    height: 100%;
    position: relative;
}
.eduhead1{
    font-size: 180%;
    position: relative;
}
.eduhead2{
    font-size: 180%;
    position: relative;
}

.skills{
    float: left;
    color: black;
    margin-left: 20% ;
    width: 35%;
    height: 100%;
    position: relative;
}
.shead1{
    font-size: 180%;
    position: relative;
}
.tskills{  
    font-size: 120%;
    position: relative;
}
.shead2{
    font-size: 180%;
    position: relative;
}
.sskills{
    
    font-size: 120%;
    position: relative;
}
  
  
  
.container3{
    height: auto;
    width: 100%;
    padding: 5%;
    animation: fade-in1 2s ease-in;
    padding-top: 0.5%;
    background-color: black;
    position: absolute;
}
.contacthead{
    text-align: center;
    font-size: 30px;
    color: white;
    position: relative;
    
}
.email{
    float: left;
    margin-left: 50px;
    background-color: black;
    width: 300px;
    height: 390px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}
.ehead{
    text-align: center;
    font-size: 20px;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
}
form button{
    color: black;
    width: 150px;
    border-radius: 30px;
    position: relative;
}
.social{
    float: left;
    color: black;
    font-size: 15px;
    width: auto;
    margin-left: 30%;
    position: relative;

}
.sohead{
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
}
label{
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
}
#download_btn{
    background-color: white; /* Green background */
    color: black; /* White text */
    padding: 5px 20px; /* Some padding */
    border: none; /* Remove border */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 10px;
}
.message{
    color: black;
}

@media only screen and (max-width: 600px) {
    /* Styles for mobile devices */
  }